name = "gaado-backend"
main = "main.py"
compatibility_date = "2024-01-01"
compatibility_flags = ["python_workers"]

# D1 Database Configuration for local development
[[d1_databases]]
binding = "DB"
database_name = "gaado-db-local"
database_id = "9a4c591a-b7d1-4227-99ec-c2833b35dff7"

# Environment variables
[vars]
GEMINI_API_KEY = "AIzaSyCjR4jjuqiP37mx_QTqif7ZEKEnpwFSKg0"
